/* Your custom styles */
.top-nav-collapse {
    background-color: #1C2331 !important; 
}
.navbar:not(.top-nav-collapse) {
    background: #1B2836 !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    } 
}
.intro-1 {
    height: 1050px;
}
@media (min-width: 770px) and (max-width: 1025px) {
    .intro-1 {
        height: 750px;
    }
}
@media (max-width: 740px) {
    .intro {
        height: 600px;
    }
}
footer.page-footer {
background-color: #1C2331;
}

section .contact{
    background-color:#fff;
}

a:hover{
    color:#19cf86 !important;
}

darkthemepalette{
    color:#141D26; /*darker*/ 
    color: #1B2836; /*lighter*/
    color: #19cf86; /*hyperlink*/
    color: #FF691F;
    color: #FAB81E;
    color: #1B95E0; 
    color: #E81C4F;
    color: #981CEB;
}


