/* Your custom styles */
.top-nav-collapse {
    background-color: #222222 !important; 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #222222 !important;
    } 
}
.intro-1 {
    height: 1050px;
}
@media (min-width: 770px) and (max-width: 1025px) {
    .intro-1 {
        height: 750px;
    }
}
@media (max-width: 740px) {
    .intro {
        height: 600px;
    }
}
footer.page-footer {
background-color: #1B1B1B;
}